* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    background-color: red;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    /* height: 100%; */
}

.main {
    width: min(90%, 60rem);
    padding-right: 5%;
    padding-bottom: 40px;
    padding-left: 5%;
    margin-top: 130px;
    /* padding-left: 20px; */
    background-color: white;
    margin-inline: auto;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    /* background-color: blue; */
    border-top-left-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: hsl(238, 29%, 16%);
}

.line {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

.question {
    display: flex;
    /* margin-bottom: 5px; */
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-top: 10px;
    /* padding-bottom: 5px; */
    justify-content: space-between;

}

.content {
    margin-top: -100px;
}

.question p:hover {
    color: orange;
    cursor: pointer;
}



.answer {
    display: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
    line-height: 20px;
    color: hsl(240, 6%, 50%);
    
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.down-icon {
    margin-top: 8px;
    cursor:  add;
    
}

.down-button {
    border: none;
    background-color: white;
    padding: 5px;
}

.hide {
    display: none;
}

.not-question-one {
    margin-top: 10px;
}

/* .women-icon {
    width: 200px;
} */

.show-answer {
    display: block;
}

.women-icon {
    /* margin-top: -105px; */
    display: block;
    position: relative;
    left: -20px;
    bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    
}

.transparent {
    margin-top: -90px;
    display: block;
    position: relative;
    left: -5px;
    bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
/* 
.images {
    display: inline-block;
    background-color: green;
    width: min(100%, 80rem);
    margin: 0;
} */

.margin-left {
    display: block;
    margin-left: 500px;
}




.new-transparent {
    display: none;
}

.new-women-icon {
    display: none;
}


.rotate {
    transform: rotate(180deg) scaleX(-1);
}



p {
    padding-top: 5px;
}

.attribution {
    margin-top: 20px;
}



.square {
    display: none;
}

.new-question {
    font-weight: bold;
    color: black;
    border: none;
}

@media (min-width: 900px) {
    .women-icon {
        display: none;
    }
    .new-women-icon {
        display: block;
        position: relative;
        right: 80px;
        top: 80px;
        z-index: 100;
    }

    .new-transparent {
        display: block;
        position: relative;
        bottom: 650px;
        right: 580px;
        z-index: 50;
    }

    .square {
        position: absolute;
        display: block;
        left: -100px;
        top: 220px;
        z-index: 1000;
    }

    .transparent {
        display: none;
    }

    .container {
        display: flex;
        width: auto;
        height: auto;
        position: relative;
        text-align: center;
        /* background-color: green; */
    
    }

    .main { 
        padding-left: 0;
        padding-bottom: 0;
    }

    .content {
        width: 400px;
        margin-top: 60px;
        text-align: left;
    }

    h1 {
        text-align: left;
    }


    .background-image {
        /* background-color: red; */
        width: 500px;
        height: 500px;
        overflow: hidden;
        border-top-left-radius: 10px;
        margin-right: 50px;
        overflow: hidden;
    }

}